#me {
    color: var(--colorText);
    font-size: 1.1em;
    margin-top: -.1rem;
}

#autresXp {
    background-color: var(--colorText);
}

#container {
    width: 70vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h1 {
        font-family: var(--fontBigTitle);
        color: var(--colorTitle);
        font-size: 3.5em;
        margin-bottom: 2.5rem;
    }

    .slider {
        width: 98%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #etsBat, #dego, #sirin {
            width: 95%;
            height: 85%;
            background-color: rgba(110, 110, 110, 0.65);
            border-radius: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;

            aside {
                width: 40%;
                padding: .5rem;
                padding-right: .2rem;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    font-family: var(--fontSmallTitle);
                    font-size: 1.2rem;
                    color: var(--colorTitle);
                    text-align: center;
                    margin: 1rem 0;
                }
                
                h3 {
                    color: var(--colorTitle);
                    font-size: 1.1em;
                    margin-bottom: .5rem;
                    font-family: var(--fontSmallTitle);
                    text-align: center;
                }

                h4 {
                    font-size: .85em;
                    font-family: var(--fontSmallTitle);
                    color: var(--colorTitle);
                    text-align: left;
                }

                img {
                    width: 7rem;
                    border-radius: 100%;
                    border: 3px solid var(--colorTitle);
                    margin: 1.9rem auto;
                }
            }

            .details {
                width: 49%;
                height: 85%;

                h2 {
                    width: 175%;
                    color: var(--colorTitle);
                    margin-top: -1.2rem;
                    margin-left: -5.5rem;
                    margin-bottom: 2rem;
                    font-family: var(--fontBigTitle);
                }

                h3 {
                    color: var(--colorTitle);
                    font-family: var(--fontBigTitle);
                    margin-bottom: 1rem;
                    margin-top: -1.8rem;
                    margin-left: -2.2rem;
                }

                p {
                    font-family: var(--fontText);
                    font-size: 1.2em;
                    line-height: 165%;
                    margin-left: -3.5rem;
                    margin-right: .2rem;
                    margin-bottom: .7rem;
                    width: 120%;
                }
                
                div {
                    display: flex;

                    span img {
                        width: 1.2rem;
                        height: 1.2rem;
                        margin-top: .1rem;
                        margin-left: -2.2rem;
                        margin-right: .5rem;
                        border-radius: 100%;
                    }
                    .enum {
                        margin-left: .2rem;
                        padding-right: .2rem;
                        font-size: 1.1em;                   
                    }
                }                
            }
        }

        #bouygues {
            display: none;
            height: 85%;
            .details {
                #title {
                    margin-left: -4.5rem;
                    margin-top: -1.5rem;
                }

                h3 {
                    margin-bottom: .5rem;
                }

                p {
                    padding-right: .9rem;
                }

                .enum-ctn {
                    margin-left: -1.2rem;
                    margin-bottom: .3rem;
                }

                .enum {
                    margin-bottom: .3rem;
                }
            }
        }

        #sita {
            

            .details {
                
                h2 {
                    margin-left: -6.5rem;
                    margin-bottom: 1.9rem;
                    margin-top: -1.3rem;
                    font-size: 1.4em;
                }

                h3 {
                    margin-bottom: .9rem;
                    font-size: 1.2em;
                }

                p {
                    margin: 0 0 .8rem -3.2rem;
                }

                div {
                    margin-left: -1.5rem;
                }

                #more {
                    margin: .8rem -3.2rem;
                }
            }
        }

        #puces {
            width: 45%;
            height: 2rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 1.5rem;

            .arrow, #arrow {
                width: 2rem;
                height: 2rem;
                color: var(--colorTitle);
                margin-top: .5rem;
            }

            p { 
                font-size: 1.2rem;
                padding-bottom: .2rem;
                width: 2rem;
                height: 1.5rem;
                color: var(--colorTitle);
                border-radius: 100%;
                text-align: center;
            }

            #arrow {
                transform: scaleX(-1);
            }
        }
    }
    #etsBat {
        display: flex;
    }
}