@media screen and (min-width: 320px) {  
    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100vw;
        height: 54vh;
        position: relative;
    }

    main section {
        position: absolute;
        top: 4vh;
        left: 0;
        width: 100vw;
        height: 70vh;
        background-color: var(--colorBG);
        margin-bottom: 1.5rem;
        overflow-y: auto;
    }

    main section h1 {
        color: var(--colorSubtitle);
        font-family: var(--fontSmallTitle);
        font-size: 1.6em;
        margin-left: 1.2rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        text-align: center;
    }

    main section h2 {
        color: var(--colorSmallTitle);
        font-family: var(--fontSmallTitle);
        font-size: 1.2em;
        margin-left: .2rem;
        margin-top: .2rem;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.75;
    }
           
    main section img {
        width: 10rem;
        margin-left: 25%;
        margin-bottom: 1.5rem;
    }

    main section article h2 {
        color: var(--colorSubtitle);
        font-family: var(--fontSmallTitle);
        font-size: 1.6em;
        margin: .2rem auto;
        padding: .3rem 1.5rem;
        width: fit-content;
    }

    main section article p {
        color: var(--colorText);
        font-family: var(--fontText);
        font-size: 1.2em;
        margin-left: 1.2rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}


